<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nex+</title>

  <!-- Vuetify Data Table-->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <script src="https://instagram-web-auth.firebaseapp.com/instauth.min.js"></script>
  <script type="text/javascript" src="realtime-datatable-vue/instafeed.js-master"></script>


  <!-- instagram photos-->



</head>

<body>
<div id="app">
  <v-app>
    <main>
      <v-content>
        <v-container fluid >
          <div>
            <v-dialog id ="caca" v-model="dialog" max-width="500px">
              <v-btn slot="activator" id ="create">Nouvel Influenceur</v-btn>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text >
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.name" label="Nom de l'influenceur"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.calories" label="Sexe"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.fat" label="Age"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.carbs" label="Region"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.protein" label="Champs d'activite"></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn id="closePop" flat @click.native="close">Cancel</v-btn>
                  <v-btn id="savePop" flat @click.native="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-data-table :headers="headers" :items="desserts" hide-actions class="elevation-1">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.calories }}</td>
                <td class="text-xs-right">{{ props.item.fat }}</td>
                <td class="text-xs-right">{{ props.item.carbs }}</td>
                <td class="text-xs-right">{{ props.item.protein }}</td>
                <td class="justify-center layout px-0">
                  <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon id= "edit">edit</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                    <v-icon id="delete">delete</v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </div>

          <input v-model="msg" placeholder="modifiez-moi">
          <p>Le message est : {{ msg }}</p>

        </v-container>
      </v-content>
    </main>
  </v-app>

</div>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/hamoni-sync@0.6.2/hamoni.dev.js"></script>

<script>
    Vue.component('page', {
        template: '#page'
    })
    new Vue({
        el: '#app',
        data: {
            msg:"userName",
            clipped: true,
            drawer: true,
            fixed: false,
            miniVariant: false,
            right: true,
            rightDrawer: false,
            title: 'Nex+',
            dialog: false,
            headers: [
                {
                    text: 'Nom',
                    align: 'left',
                    sortable: false,
                    value: 'name'
                },
                { text: 'Sexe', value: 'calories', align: 'right' },
                { text: 'Age', value: 'fat', align:'right' },
                { text: 'Region', value: 'carbs', align:'right' },
                { text: 'Champs activite', value: 'protein', align:'right'},
                { text: 'Actions', value: 'name', sortable: false, align:'center' }
            ],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0
            },
            defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0
            },
            listPrimitive: null
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Nouvel Influenceur' : 'Edit Item'
            }
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        mounted: function () {
            let hamoni = new Hamoni("5cad6641-8707-4b29-b571-1818743de136", "dc9b5e43448f44d9bee561484582e081");
            hamoni.connect().then(() => {
                hamoni.get("vue-table").then(primitive => {
                    this.listPrimitive = primitive
                    this.desserts = [...primitive.getAll()]
                    this.subscribeToUpdate()
                }).catch(error => {
                    if (error === "Error getting state from server")
                        this.initialise(hamoni);
                    else
                        alert(caca)
                })
            }).catch()
        },
        methods: {
            initialise(hamoni) {
                hamoni.createList("vue-table", [
                    {
                        name: 'Frozen Yogurt',
                        calories: 159,
                        fat: 6.0,
                        carbs: 24,
                        protein: 4.0
                    },
                    {
                        name: 'Ice cream sandwich',
                        calories: 237,
                        fat: 9.0,
                        carbs: 37,
                        protein: 4.3
                    },
                    {
                        name: 'Eclair',
                        calories: 262,
                        fat: 16.0,
                        carbs: 23,
                        protein: 6.0
                    }
                ]).then(primitive => {
                    this.listPrimitive = primitive
                    this.desserts = this.listPrimitive.getAll()
                    this.subscribeToUpdate();
                }).catch()
            },
            subscribeToUpdate() {
                this.listPrimitive.onItemAdded(item => {
                    this.desserts.push(item.value)
                })
                this.listPrimitive.onItemUpdated(item => {
                    //update the item at item.index
                    this.desserts.splice(item.index, 1, item.value);
                })
                this.listPrimitive.onItemRemoved(item => {
                    //remove the item at item.index
                    this.desserts.splice(item.index, 1);
                })
            },
            editItem(item) {
                this.editedIndex = this.desserts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            deleteItem(item) {
                const index = this.desserts.indexOf(item)
                confirm('Are you sure you want to delete this influenceur?') && this.listPrimitive.remove(index)
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            save() {
                if (this.editedIndex > -1) {
                    this.listPrimitive.update(this.editedIndex, this.editedItem)
                } else {
                    this.listPrimitive.add(this.editedItem)
                }
                this.close()
            }
        }
    })
</script>


</body>

</html>
